<%# if @over_ten %>
 <%#= link_to ‘Show Previous’, ‘?m=all’ %>
<%# end %>
  <div class="container col-lg-6" style="margin-top: 20px;">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <!-- <div class="d-flex flex-md-row flex-column mb-3"> -->
          <!-- <div class="p-2 bd-highlight "> -->
            <% @messages.each do |message| %>
             <div class="message">
              <% if message.body %>
                <% user = User.find(message.user_id) %>
                <div class="header">
                <strong><%= user == current_user ? "You: ": user.name + ":"%></strong> <%= message.message_time %>
                </div>
                <div class="item">
                <i class="fas fa-caret-right"></i>
                <%= message.body %>
                </div>
              <% end   %>
               </div>
            <% end   %>
          <!-- </div>   -->

          <!-- <div class="p-2 bd-highlight  "> -->
            <%= form_for [@conversation, @message], html: {class: 'ui reply form'} do  |f| %>
            <%= f.text_area :body, class: 'form-control' %>
            <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
            <%= f.submit " Send ", class: 'ui blue labeled submit icon button' %>
            <% end %>
          <!-- </div>   -->

        <!-- </div> -->
      </div>
    </div>
  </div>

