
  <div class="row">
    <% @array_of_posts.each do |post| %>
    <%# url = post["node"]["thumbnail_src"] %>

    <div class="col-sm-4 instagram-card" style="padding-bottom: 10px">
      <div class="card">
        <img class="card-img-top" src='<%= post.picture.xl %>' alt="Card image cap">
       <!-- <div class="card-body"> -->
        <!-- <h6 class="card-title text-truncate"><%#= post.likes %></h6> -->
        <!-- <p><%#= post.caption.first(50) %></p> -->
      <!-- <p class="card-text"><%#= gym.city.name %></p> -->
       <!-- </div> -->
        <div class="card-link">
          <%= link_to post.picture.xl, "#", :class => "card-link link", :id => "clickme", data: {toggle: "modal", target: ".bd-example-modal-md", caption: post.caption.first(200), likes: post.likes, date: post.time} %>

        </div>
      </div>
       <div class="card-footer">
         <small class="text-muted text-truncate">
          <%= link_to "https://www.instagram.com/#{post.owner.username}", target: '_blank', class: 'text-truncate' do %>
            <i class="fab fa-instagram"></i> <%= post.owner.username %>
              <% end %>
         </small>
       </div>
    </div>
    <% end %>
</div>

<%#= link_to url, "#", :class => "card-link link", :id => "clickme", data: {toggle: "modal", target: ".bd-example-modal-lg", texto: text, user: @username.downcase} %>
<!-- Modal -->

<div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" >
    <div class="modal-content">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <%= image_tag("", :id => "placehere",  :style => "height: 304px") %>
        </div>
        <div class="p-2 bd-highlight">
          <small id="date" class="text-muted"></small>
          <small id="caption"></small>
        </div>
    </div>
    </div>
  </div>
</div>

