<div class="row">
    <% @unsplash_cities.each_with_index do |city, index| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
           <%#search_results = Unsplash::Photo.search(city.name,city.country.name)
           %>
           <% if !city.url.blank? %>
           <% @background = city.url %>
           <% else %>
           <% @background = image_url ['upsidedown.jpg','lady-stretching.jpg','weights.jpg','woman-lifting.jpg'].sample %>
           <% end %>
     <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @background %>);">
        <div class="card-category"><%= city.country.name %></div>
        <div class="card-description">
          <h2><%= city.name + " " + city.state.to_s %></h2>
          <p><%= city.gyms_count %> Crossfit gyms</p>
          <p>Explore <%= city.name %> gyms</p>
        </div>
            <div class="card-link">

              <%= link_to "Link", gyms_path(:city => "#{city.name}", :country => "#{city.country.name}", :state => "#{city.state.to_s}" ), :class => "card-link" %>

            </div>
            <div class="unsplash-credits">
              Photo by <%= link_to "#{@photograpers[index]}", "https://unsplash.com/@#{@photograpers[index]}?utm_source=gngbase&utm_gngbase=referral", target: '_blank' %> on
              <%= link_to "Unsplash", "https://unsplash.com/?utm_source=gngbase&utm_gngbase=referral", target: '_blank' %>
            </div>
      </div>
    </div>
    <% end %>
</div>

