<div class="card w-95">
  <div class="card-body">
    <h4 class="card-title">Whiteboard</h4>
      <div class="row">
        <div class="col pr-0 scores">
          <div class="card align-self-stretch">
           <div class="card-body">
            <h5 class="card-title">WOD</h5>
            <%= render 'wods/show' if !@wods.blank? %>
          </div>
          </div>
        </div>
        <div class="col-md-5 p-0 scores">
          <div class="card align-self-stretch" style="height: 100%">
            <div class="card-body">
            <h5 class="card-title"> Scores </h5>
              <% if !@gym.scores.blank? %>

                <% scores_last_wod = @gym.scores.where(wod_id: @wods.order('created_at').last.id).sort { |s| s.time} %>
                <% class_times = @gym.scores.where(wod_id: @wods.order('created_at').last.id).select(:time).distinct.pluck(:time).sort_by { |c| c.hour}.uniq { |date| date.hour} %>
              <%#= class_times =  @gym.scores.where(wod_id: @wods.order('created_at').last.id).select(:time).distinct.pluck(:time).map { |date| date.hour }.uniq.sort %>
              <%# class_times.each_with_index do |ct, index| %>
                <div class="row">
                <% class_times.each_with_index do |class_hour, index| %>
                  <% class_scores = scores_last_wod.select { |a| a.time.hour == class_hour.hour} %>
              <%# class_scores = @gym.scores.map{|s|s if s.time == ct && s.wod_id == @wods.order('created_at').last.id} %>
                      <%# binding.pry %>
                      <div class="w-50 class-time-<%=index%>" style="">
                        <div style="padding-right: 30px;">
                          <div class="card-header font-weight-bold " style="background-color: white;  padding-top: 3px; ">
                            <%= class_hour.strftime('%l %P') %>
                          </div>
                          </div>
                          <% class_scores.each do |score|  %>
                          <div class="card-body text-left score-id-<%= index%>" style="padding-left: 0; font-size: small; padding-top: 6px; padding-bottom: 3px;">
                            <%= score.user.name.split(" ").first %> - <%= score.content %> <br>
                        </div>
                    <%# class_scores.delete_if {|score| score == nil }.each do |is| %>
                    <% end %>
                      </div>
                <% end %>
<%# binding.pry %>
                </div>
              <% end %>

                  <div class="dropdown-divider"></div>
          <%= render 'scores/form',  wod: @wods.order('created_at').last, score: @score if user_signed_in? && !@wods.order('created_at').last.blank? %>

            </div>
          </div>
        </div>

        <div class="col pl-0 scores">
          <div class="card align-self-stretch">
            <div class="card-body">
            <h5 class="card-title">Announcements</h5>
            <% @events.order('start').select{ |t| t.start.future?}.first(2).each do |thing|%>
              <div class='card <%= thing.color === 'green' ? 'bg-success' : 'bg-danger' %>'>
               <% if thing.start.future? || thing.start.today? %>
                <%= thing.title %> <%= thing.start.to_date.to_s %>
               <% end %>
              </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
</div>
</div>
<!-- <div class="card p-2">
  <h4 class="card-title">Whiteboard</h4>
  <div class="d-flex flex-md-row">
    <div class="p-2">
      <div class="card">
        hello
      </div>
    </div>
    <div class="p-2">
      <div class="card">
        hello
      </div>
    </div>
    <div class="p-2">
      <div class="card">
        hello
      </div>
    </div>
  </div>
</div> -->
