<h1><%#= @gym.name %></h1>
<div class="main-container">
    <div class="cards-container hidden-xs">
<%# binding.pry %>
<%#= image_tag @profile["user"]["profile_pic_url"] %>
<%#= render 'components/instagram_cards' %>
    <%= render 'components/instagram_cards' %>
    </div>


<!--       <%#= form_tag gyms_path, method: :get do %>
      <%#= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a city name"
      %>
    <#% end %> -->
  <!-- <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div> -->
  <div class="information">

    <div class="show-container">
      <% if  !@profile.blank? %>

        <%= image_tag @profile["user"]["profile_pic_url"], :class=> "avatar-large" %>

      <% end %>

  <div class="intro">

      <h2><%= @gym.name %></h2>
      <ul class="list-inline">
        <li><%= link_to 'website', @gym.website, target: '_blank' %> </li>
        <li>
          <% if !@profile.blank? %>
            <%= link_to "https://www.instagram.com/#{@profile["user"]["username"]}", target: '_blank' do %>
              <i class="fab fa-instagram" style="font-size: 30px"></i> <%= @username %>
            <% end %>
          <% end %>
          <%#= link_to "", "https://www.instagram.com/#{@profile["user"]["username"]}" do %>
            <%#= fa_icon "fa-instagram" %>
          <%# end %>
        </li>
        <% if  @open_now %>
          <!-- <li> <a href="#" class="open-now">Open now</a> </li> -->
          <li><i class="fas fa-door-open" style="color: green; font-size: 30px"></i> Open Now</li>
        <% end %>
      </ul>


    <p> <%= @user["biography"] %> </p>
     <!-- <i class="far fa-bookmark"></i> -->
  </div>

<!--  <div class="classes">
      <p>Classes for <%#= @location_schedule[0]["start_date_time"].split("  ")[0] %></p>
    <ul class="hours">
    <%# @location_schedule.each do |thing| %>
      <div class="element list-inline">
      <li><strong> <%#= thing["class_name"] %></strong></li>
      <li>Start: <%#= thing["start_date_time"].split("  ")[1] %></li>
      <li>End: <%#= thing["end_date_time"].split("  ")[1] %></li>
      </div>
    <%# end %>
    </ul>
  </div> -->
<% if !@spot.blank? %>
  <p> <span class="title-size">Address:</span> <%= @spot.formatted_address %></p>
  <p> <span class="title-size">Phone:</span> <%= @spot.international_phone_number %></p>
  <p> <span class="title-size">Hours:</span></p>
  <div class="hours">
    <% if !@hours.blank? %>
      <ul>
        <% @hours.each do |thing| %>
        <li><%= thing %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

    <div class="google-reviews">
      <h3>Google Reviews</h3>
     <% @spot.reviews.first(3).each do |review| %>
      <div class="google-review">
      <div class="review-avatar">
        <%# binding.pry %>
        <%= image_tag review.profile_photo_url, :class=> "avatar-google" %>
      </div>
      <div class="review-text">
        <%= review.text.split(".")[0] %>
      </div>
      </div>
     <% end %>
    </div>
<% end %>

  </div>

</div>

</div>
<div
  id="map" class=" show-map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>
