      <%#= render 'components/navs' %>
<div class="main-container">
  <div class="d-flex flex-md-row flex-column-reverse mb-3">
  <div class="p-2 bd-highlight flex-shrink-1 flex-grow-1">

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-Photos-tab" data-toggle="pill" href="#pills-Photos" role="tab" aria-controls="pills-Photos" aria-selected="true">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-WOD-tab" data-toggle="pill" href="#pills-WOD" role="tab" aria-controls="pills-WOD" aria-selected="false">WODs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-scores-tab" data-toggle="pill" href="#pills-scores" role="tab" aria-controls="pills-scores" aria-selected="false">Board</a>
        </li>
        <% if @gym.admins.users.include?(current_user) %>
          <li class="nav-item">
            <a class="nav-link" id="pills-Make-WOD-tab" data-toggle="pill" href="#pills-Make-WOD" role="tab" aria-controls="pills-Make-WOD" aria-selected="false">Box Admin</a>
          </li>
        <% end %>
      </ul>
<!-----pills content bellow---------pils control above----- -->
      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-Photos" role="tabpanel" aria-labelledby="pills-home-tab">
          <%= render 'components/instagram_cards' %>
        </div>

        <div class="tab-pane fade" id="pills-WOD" role="tabpanel" aria-labelledby="pills-profile-tab">
          <%= render 'wods/index' %>
        </div>

        <div class="tab-pane fade" id="pills-scores" role="tabpanel" aria-labelledby="pills-scores-tab">
          <%= render 'whiteboards/show' %>
        </div>

        <div class="tab-pane fade" id="pills-Make-WOD" role="tabpanel" aria-labelledby="pills-contact-tab">

          <div class="col-lg-7">
            <h5>Make a WOD</h5>
            <%= render 'wods/form', gym: @gym, wod: @wod %>
            <div class="bookings">
              <h3 class="text-center" style="padding-top:0">Create an Event<i class="fas fa-arrow-down"></i></h3>
                <div class='calendar' id="<%=params["id"]%>" ></div>
            </div>
          </div>
        </div>

      </div>

      <!-- -end of pills buttons------- -->
      <%#= render 'components/instagram_cards' %>
  </div>
  <div class="p-2 bd-highlight information ">
  <!-- <div class="information"> -->

    <!-- <div class="show-container"> -->
      <%# if  !@profile.blank? %>

        <%#= image_tag @profile["user"]["profile_pic_url"], :class=> "avatar-large" %>

      <%# end %>

  <div class="intro">

 <% if  !@profile.blank? %>
        <%#= image_tag @profile["user"]["profile_pic_url"], :class=> "avatar-large-show" %>
      <% end %>
    <div class="d-flex flex-row">
      <div class="p-2">
        <h2><%= @gym.name %></h2>
      </div>
      <div class="p-2">
        <% if user_signed_in? %>
          <%= render 'bookmarks/form', gym: @gym, bookmark: @bookmark %>
         <% end %>
      </div>
    </div>

     <%= @user["biography"] %>
     <!-- <i class="far fa-bookmark"></i> -->
  </div>

<!--  <div class="classes">
      <p>Classes for <%#= @location_schedule[0]["start_date_time"].split("  ")[0] %></p>
    <ul class="hours">
    <%# @location_schedule.each do |thing| %>
      <div class="element list-inline">
      <li><strong> <%#= thing["class_name"] %></strong></li>
      <li>Start: <%#= thing["start_date_time"].split("  ")[1] %></li>
      <li>End: <%#= thing["end_date_time"].split("  ")[1] %></li>
      </div>
    <%# end %>
    </ul>
  </div> -->
<% if !@spot.blank? %>
  <p style="margin-bottom: 3px;">
    <% if !@profile.blank? %>
      <%= link_to "https://www.instagram.com/#{@profile["user"]["username"]}", target: '_blank' do %>
          <i class="fab fa-instagram"></i> <%= @username %>
      <% end %> <br>
    <% end %>
  <!-- </p> -->
  <!-- <p> -->
    <%= link_to @gym.website, target: '_blank' do %>
      <i class="fas fa-link"></i> <%=  @gym.website.split("www.").second.blank? ? @gym.website.split("//").second : @gym.website.split("www.").second  %>
      <% end %> <br>
    <%= @spot.formatted_address %>
  <%= link_to @spot.url, target: '_blank' do %>
  <i class="fas fa-map-marker-alt fa-lg"></i> <%= "Google Maps" %>
  <% end %> <br>
  <i class="fas fa-phone-volume fa-lg"></i> <%= @spot.international_phone_number %> <br>
  <!-- <p> <i class="far fa-clock fa-lg"></i></p> -->
  </p>
  <!-- <p> -->
    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <!-- <i class="far fa-clock fa-lg"></i> -->
     Hours
    </button>
    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">User Reviews
    </button>
    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Pricing
    </button>
    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Contact
    </button>
  <!-- </p> -->
    <div class="collapse" id="collapseExample">
    <div class="card card-body" style="background-color: none;">
      <div class="hours">
        <% if !@hours.blank? %>
        <table class="table table-sm">
          <thead>
          </thead>
          <tbody>
          <% @hours.each do |thing| %>
            <tr>
              <th scope="row" style=" width: 103px;"><%= thing.partition(":").first %></th>
              <td><%= thing.partition(":").third.delete(' ') %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <% end %>
      </div>
<% end %>
    </div>
</div>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
           <!-- reviews------------------------ -->
    <div class="google-reviews">
      <h3 id="parent-review" style="padding-top: 0px;">User Reviews</h3>
      <% if @gym.reviews.blank? %>
        <span id="review-notice">Be the first to leave a review for <%= @gym.name %></span>
      <% end %>
      <%# @spot.reviews.first(3).each do |review| %>
      <% @gym.reviews.last(3).each do |review| %>
      <div class="google-review">
        <div class=' <%= ["bg-primary", "bg-success", "bg-warning"].sample %>' style="padding-left: 4px;">
          <%#= image_tag review.profile_photo_url, :class=>
          "avatar-google" %>
          <span class=""><%= review.user.name %></span>
        </div>
        <!-- <span class="initials"><%= review.user.name.capitalize %></span> -->

        <div class="review-text">
          <%#= review.text.split(".")[0] %>
          <% if @gym.reviews.blank? %>
          <span id="review-notice">Be the first to leave a review for <%= @gym.name %></span>
          <% else %>
          <%= render 'reviews/show', review: review %>
          <% end %>
        </div>
      </div>
      <% end %>
      <%= render 'reviews/form', gym: @gym, review: @review if user_signed_in? %>
    </div>
    <!-- end of reviews--------------------- -->
      </div>
    </div>
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body">
        Prices
      </div>
    </div>
    <div class="collapse multi-collapse" id="multiCollapseExample4">
      <div class="card card-body">
      <% if !@gym.admins.blank? && user_signed_in?%>
        <%= link_to  conversations_path(sender_id: current_user.id, recipient_id: @gym.admins.first.user_id), method: :post do %>
            <i class="far fa-envelope"></i> <%=User.find(@gym.admins.first.user_id).name  %>
          <% end %>

      <% else %>
          <%= "Sign in to become an admin for this gym" if !user_signed_in? %>
          <div id="admins">
            <% if !@gym.admins.users.include?(current_user) && user_signed_in?%>
            Become an admin for this gym
            <%= render 'admins/form' %>
            <% end %>

          </div>
      <% end %>

      </div>
    </div>
    <!-- , method: :delete, id: "delete-conversation"  -->

    <!-- <div id="reviews"> -->
      <%# if @gym.reviews.blank? %>
        <!-- Be the first to leave a review for <%#= @gym.name %> -->
      <%# else %>
        <%# @gym.reviews.last(5).each do |review| %>
        <%#= render 'reviews/show', review: review %>
        <%# end %>
      <%# end %>
    <!-- </div> -->

 <!--      <div
  id="map" class=" show-map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div> -->
  <!-- </div> -->
  <!-- </div> -->

<!--   <div id="admins">
    <%# if !@gym.admins.users.include?(current_user) && user_signed_in?%>
      <%#= render 'admins/form' %>
    <%# end %>
  </div> -->

  </div>
</div>
    <!-- <div class="cards-container"> -->
<%# binding.pry %>
<%#= image_tag @profile["user"]["profile_pic_url"] %>
<%#= render 'components/instagram_cards' %>
    <!-- </div> -->




</div>
<!-- <div
  id="map" class="show-map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div> -->
</div>
