<h1><%#= @gym.name %></h1>
<div class="main-container">
    <div class="cards-container">
<%# binding.pry %>
<%#= image_tag @profile["user"]["profile_pic_url"] %>
<%#= render 'components/instagram_cards' %>
    <%= render 'components/instagram_cards' %>
    </div>


<!--       <%#= form_tag gyms_path, method: :get do %>
      <%#= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a city name"
      %>
    <#% end %> -->
  <!-- <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div> -->
  <div class="information">

    <div class="show-container">
      <% if  !@profile.blank? %>

        <%= image_tag @profile["user"]["profile_pic_url"], :class=> "avatar-large" %>

      <% end %>

  <div class="intro">

      <ul class="list-inline">
        <li><h2><%= @gym.name %></h2> </li>
        <li><%= link_to 'website', @gym.website, target: '_blank' %> </li>
      </ul>


    <p> <%= @user["biography"] %> </p>
     <i class="far fa-bookmark"></i>
  </div>
  <div class="hours">
    <% if !@hours.blank? %>
      <ul>
        <% @hours.each do |thing| %>
        <li><%= thing %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <p> <strong>Address:</strong> <%= @formatted_address %></p>
  <p> <strong>Phone:</strong> <%= @formatted_phone_number %></p>

    <% if @open_now %>
      <a href="#" class="open-now">Open</a>
    <% end %>

  </div>
</div>

</div>
