  <%#= render 'components/banner_show' %>
<div class="main-container">
  <div class="d-flex flex-md-row flex-column-reverse mb-3">
  <div class="p-2 bd-highlight flex-shrink-1">
    <%= render 'components/instagram_cards' %>
  </div>
  <div class="p-2 bd-highlight information ">
  <!-- <div class="information"> -->

    <!-- <div class="show-container"> -->
      <%# if  !@profile.blank? %>

        <%#= image_tag @profile["user"]["profile_pic_url"], :class=> "avatar-large" %>

      <%# end %>

  <div class="intro">

 <% if  !@profile.blank? %>
        <%#= image_tag @profile["user"]["profile_pic_url"], :class=> "avatar-large-show" %>
      <% end %>
    <ul class="list-inline">
        <li class="list-inline-item"><h2><%= @gym.name %></h2></li>
        <% if user_signed_in? %>
          <li class="list-inline-item"> <%= render 'bookmarks/form', gym: @gym, bookmark: @bookmark %> </li>
         <% end %>
    </ul>

    <p> <%= @user["biography"] %> </p>
     <!-- <i class="far fa-bookmark"></i> -->
  </div>

<!--  <div class="classes">
      <p>Classes for <%#= @location_schedule[0]["start_date_time"].split("  ")[0] %></p>
    <ul class="hours">
    <%# @location_schedule.each do |thing| %>
      <div class="element list-inline">
      <li><strong> <%#= thing["class_name"] %></strong></li>
      <li>Start: <%#= thing["start_date_time"].split("  ")[1] %></li>
      <li>End: <%#= thing["end_date_time"].split("  ")[1] %></li>
      </div>
    <%# end %>
    </ul>
  </div> -->
<% if !@spot.blank? %>
  <p>
    <% if !@profile.blank? %>
      <%= link_to "https://www.instagram.com/#{@profile["user"]["username"]}", target: '_blank' do %>
          <i class="fab fa-instagram"></i> <%= @username %>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= link_to @gym.website, target: '_blank' do %>
      <i class="fas fa-link"></i> <%= @gym.website %>
    <% end %>
  </p>
  <p> <i class="fas fa-map-marker-alt fa-lg"></i> <%= @spot.formatted_address %></p>
  <p> <i class="fas fa-phone-volume fa-lg"></i> <%= @spot.international_phone_number %></p>
  <p> <i class="far fa-clock fa-lg"></i></p>
  <div class="hours">
    <% if !@hours.blank? %>
      <table class="table table-sm">
  <thead>
  </thead>
  <tbody>
    <% @hours.each do |thing| %>
    <tr>
      <th scope="row" style="
    width: 103px;"><%= thing.partition(":").first %></th>
      <td><%= thing.partition(":").third.delete(' ') %></td>
    </tr>
    <% end %>
  </tbody>
</table>

    <% end %>
  </div>
<% end %>

    <div class="google-reviews">
      <h3 id="parent-review">User Reviews</h3>
      <% if @gym.reviews.blank? %>
        Be the first to leave a review for <%= @gym.name %>
      <% end %>
      <%# @spot.reviews.first(3).each do |review| %>
      <% @gym.reviews.last(5).each do |review| %>
      <div class="google-review">
        <div class="review-avatar">
          <%# binding.pry %>
          <%#= image_tag review.profile_photo_url, :class=> "avatar-google" %>
        </div>
        <div class="review-text">
          <%#= review.text.split(".")[0] %>
          <% if @gym.reviews.blank? %>
          Be the first to leave a review for <%= @gym.name %>
          <% else %>
          <%= render 'reviews/show', review: review %>
          <% end %>
        </div>
      </div>
      <% end %>
      <%= render 'reviews/form', gym: @gym, review: @review if user_signed_in? %>
    </div>

    <!-- <div id="reviews"> -->
      <%# if @gym.reviews.blank? %>
        <!-- Be the first to leave a review for <%#= @gym.name %> -->
      <%# else %>
        <%# @gym.reviews.last(5).each do |review| %>
        <%#= render 'reviews/show', review: review %>
        <%# end %>
      <%# end %>
    <!-- </div> -->

      <div
  id="map" class=" show-map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>

  <!-- </div> -->
  <!-- </div> -->

  </div>
</div>
    <!-- <div class="cards-container"> -->
<%# binding.pry %>
<%#= image_tag @profile["user"]["profile_pic_url"] %>
<%#= render 'components/instagram_cards' %>
    <!-- </div> -->




</div>
<!-- <div
  id="map" class="show-map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div> -->
</div>
