function refreshForm(innerHTML) {
  const newReviewForm = document.getElementById('new_review');
  newReviewForm.innerHTML = innerHTML;
}

function addReview(reviewHTML) {
  const insertHere = document.getElementById('parent-review');
  // const reviews = document.getElementById('new_review');
  // reviews.insertAdjacentHTML('beforeBegin', reviewHTML);
  insertHere.insertAdjacentHTML('afterEnd',
   `<div class="google-review">
      <div class="<%= ["bg-primary", "bg-success", "bg-warning"].sample %> ">
        <span class=""><%= current_user.name %></span>
      </div>
      <div class="review-text">
        ${reviewHTML}
      </div>
    </div>`);

  $('#review-notice').hide();
}

<% if @review.errors.any? %>
  refreshForm('<%= j render "reviews/form", gym: @gym, review: @review %>');
  // console.log('<%= @review.errors.full_messages%>');
  // alert('<%= @review.errors.full_messages.first %>');
  function popUpErrors(){
    const insertHere = document.querySelector('.form-with-padding')
    insertHere.insertAdjacentHTML('beforebegin',

  `<div class="alert alert-warning alert-dismissible fade show" role="alert">
   <%=@review.errors.full_messages.first%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>`
      );
  }
  popUpErrors()
<% else %>
  addReview('<%= j render "reviews/show", review: @review %>');
  refreshForm('<%= j render "reviews/form", gym: @gym, review: Review.new %>');
<% end %>



